.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container ul li::marker {
    color: aqua;
    font-size: larger;
    font-weight: 500;
}
.nav-elem {
    background-color: navy;
    padding: 35px;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 105px;
}

.nav-logo, h1 {
    color: aqua;
    font-weight: bolder;
}

.nav-elem button {
    margin-left: auto;
    font-weight: 600;
    background-color: aqua;
    color: navy;
    width: 105px;
    height: 35px;
    border: thin;
    border-style: solid;
    border-radius: 5px;
}

.nav-elem button:hover {
    background-color: rgb(23, 233, 233);
    color: navy;
}

.nav-elem button:active {
    background-color: rgb(18, 196, 196);
    color: white;
}
